<header>
<!-- 	
	<%= link_to( root_path ) do %>
		<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
	<% end %>
	<a href="<%= root_path %>">
		<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
	</a>
	
	<a href="<%= root_path %>">
		<img src="logo.png" />
	</a>
-->	

 
  <%= link_to logo, root_path %>

  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Profile", current_user %></li>
      <% end %>
      <li><%= link_to "Help", help_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
