<header>
<!-- 	
	<%= link_to( root_path ) do %>
		<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
	<% end %>
	<a href="<%= root_path %>">
		<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
	</a>
	
	<a href="<%= root_path %>">
		<img src="logo.png" />
	</a>
-->	

 <% logo = image_tag("logo.png", :alt => "Sample App", :class => "round") %>
 <%= link_to logo, root_path%>

  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>
